root = true

[*]

# Tipo de indentação
indent_style = space

# Tamanho de cada indentação
indent_size = 2

# Utilizar o charset utf-8
charset = utf-8

# Não adicionar linhas em branco no final dos arquivos
insert_final_newline = false

# Apagar os espaços em brancos no final de cada linha
trim_trailing_whitespace = true